* {
    -fx-primary : #424242;
    -fx-secondary : #64B5F6;
    -fx-primarytext : #B2B2B2;
    -fx-secondarytext : white;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}
.root {
    -fx-background-color: -fx-primary;
}
.pane {
    -fx-background-color: -fx-primary;
}
.split-pane{
    -fx-background-color: -fx-primary;
}
.anchor-pane{
    -fx-background-color: -fx-primary;
}
.dialog-pane > .content {
    -fx-background-color: -fx-primary;
}


.glyph-icon
{
    -fx-fill: -fx-secondary;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-font-size: 12pt;
    -fx-cursor: hand;
}

.button:hover, .button:focused{
    -fx-background-color: derive(-fx-primary, 20%);
    -fx-text-fill: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/*TablPane styling*/
.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: -fx-primary;
}
.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: -fx-secondary;
}
.tab-header-background{
    -fx-background-color: -fx-primary;
}
.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
    -fx-cursor: hand;
}
.tab-label:hover{
    -fx-text-fill: derive(-fx-secondary, 80%);
}
.jfx-tab-pane .tab-selected-line { -fx-background-color: -fx-secondary;  }

/*end TablPane styling*/

/*Menu bar Styling*/
.menu-bar{
    -fx-font-size: 12px;
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu
{
    -fx-background-color:  derive(-fx-primary, 20%);
}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}




/*Chart Styling*/
.data0.chart-pie{
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}
.data1.chart-pie{
    -fx-pie-color: derive(-fx-primary, 30%);
    -fx-border-color: derive(-fx-primary, 30%);
}
.chart-pie-label
{
    -fx-fill : derive(-fx-secondary, -5%);
}




/*JFXDialog styling*/
.jfx-layout-heading
{
    -fx-background-color: -fx-color-1;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary;
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}


/*Dashboard label*/
.not-available
{
    -fx-background-radius: 5px;
    -fx-fill: derive(blue, 80%);
    -fx-cursor: hand;
}

/*Checkbox*/


.label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
}


.tree-table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 10pt;
    -fx-border-color: derive(-fx-secondary, -60%);
}
.table-view:focused, .tree-table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.tree-table-row-cell {
    -fx-cell-size: 50px;
}
.tree-table-view .column-header-background{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-border-color: derive(-fx-primary, 10%);
}
.tree-table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondarytext;
    -fx-font-size: 8pt;
    -fx-font-weight: normal;
}
.tree-table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: derive(-fx-primary, 10%);

}
.tree-table-view .tree-table-cell{
    -fx-text-fill: -fx-secondarytext;
    -fx-alignment: CENTER;
}
.tree-table-row-cell:focused, .tree-table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.tree-table-row-cell:hover, .tree-table-cell:hover{
    -fx-background-color: derive(-fx-primary, 20%);
}
.tree-table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-table-cell-border-color: -fx-primary;
}
.tree-table-column{
    -fx-alignment: CENTER;
}
.tree-table-row-cell:selected {
    -fx-background-color:derive(-fx-primary, 20%);
    -fx-text-fill: -fx-primary;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: -fx-primary;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: -fx-primary;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
    -fx-background-radius: 1em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}

/* radio button + check */
.jfx-radio-button{
    -fx-font-size:11pt;
    -fx-text-fill: -fx-primarytext;
    -jfx-selected-color: -fx-secondary;
    -fx-cursor: hand;
}

.jfx-check-box:selected .box {
    -jfx-selected-color: -fx-secondary;
}
.jfx-slider {
    -jfx-default-thumb: -fx-secondary;
    -fx-cursor: hand;
}

.jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    -jfx-toggle-color: -fx-secondary;
    -jfx-toggle-line-color: derive(-jfx-toggle-color, 65%);
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
}

.jfx-check-box {
    -jfx-unchecked-color: white;
    -jfx-checked-color: -fx-secondary;
}
/* end radio button + check */

.jfx-combo-box {
    -jfx-focus-color: -fx-secondary;
    -jfx-unfocus-color: -fx-secondary;
}
.combo-box-base .text{
    -fx-fill: -fx-primarytext;
    -fx-font-size: 12pt;

}
.combo-box-popup .list-view .list-cell {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;

}


.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}



/* end combox */

.list-view{
    -fx-background-color: derive(-fx-primary,20%);
}




.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: derive(-fx-primary,20%);

}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: derive(-fx-primary,20%);
}


/*Custom window titled-pane*/
.tab-pane .tab, .tab-pane .tab:selected, .tab-pane .tab:focus
{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;

}


.titled-pane
{
    -fx-text-fill: -fx-secondary;
}
.titled-pane:focused, .titled-pane:hover
{
    -fx-text-fill: -fx-secondarytext;
}
.titled-pane > .title {
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
}
.titled-pane > .title:hover{
    -fx-background-color: derive(-fx-primary, 30%);
}

