/*
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}
*/
.split-pane
{
    -fx-box-border: transparent;
}

#tabPaneDeffirentData *.tab-header-background .split-pane{
    -fx-background-color: transparent;
}

.folder{
    -fx-graphic: url('../images/folder2.png');
}
.json{
    -fx-graphic: url('../images/json.png');
}

.play{
    -fx-graphic: url('../images/play.png');
    -fx-background-size: 30px;
}

.jfx-check-box{
    -jfx-checked-color: gray;
}